services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_SUPABASE_URL: ${VITE_SUPABASE_URL}
        VITE_SUPABASE_PUBLISHABLE_KEY: ${VITE_SUPABASE_PUBLISHABLE_KEY}
        VITE_SUPABASE_PROJECT_ID: ${VITE_SUPABASE_PROJECT_ID}
        VITE_SUPABASE_DB_URL: ${VITE_SUPABASE_DB_URL}
        VITE_SUPABASE_DB_KEY: ${VITE_SUPABASE_DB_KEY}
        VITE_SUPABASE_FUNCTIONS_URL: ${VITE_SUPABASE_FUNCTIONS_URL}
        VITE_SUPABASE_FUNCTIONS_KEY: ${VITE_SUPABASE_FUNCTIONS_KEY}
    ports:
      - "80:80"
    restart: always
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:80/"]
      interval: 30s
      timeout: 3s
      retries: 3
